# {{ ansible_managed }}

[Unit]
Description=etcd
After=network.target wg-quick@wg0.service

[Service]
Type=exec
ExecStart=/opt/etcd/runner.sh
Restart=on-failure
RestartSec=5
TimeoutStartSec=0
StartLimitInterval=0

[Install]
WantedBy=multi-user.target