[defaults]
collections_path=./.ansible/collections
roles_path=./roles
inventory_plugins=./plugins/inventory
interpreter_python = auto_silent

[inventory]
enable_plugins=cluster

[ssh_connection]
ssh_args=-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining=true
