# {{ ansible_managed }}

[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ internal_ip }}
ListenPort = 51820

{% for host in wg_peers if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host]['wg_public_key'] }}
Endpoint = {{ hostvars[host]['ansible_host'] }}:51820
AllowedIPs = {{ hostvars[host]['internal_ip'] }}/32
PersistentKeepalive = 25
{% endfor %} 